body {
	font-family: sans-serif;
	background: black;
	margin: 0;
}

nav {
	color: white;
}

main {
	font-size: 2em;
}

article {
	padding: .5em;
}

article:nth-of-type(odd){
	background: pink;
}
article:nth-of-type(even){
	background: yellow;
}

a {
	text-decoration: underline;	
	color: black;
}

a:hover {
	color: white;
}

img {
	margin-top: .5em;
	width: 50%;
}

@media screen and (max-width: 992px) {
  img {
		width: 100%;
  }
}
